/* Updated .login-container styles */

@import url(https://fonts.googleapis.com/css?family=Varela);


/* najsndjiasjdn */

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}



.box {
  height: 564px;
  width: 500px;
  border: 1px solid rgba(231, 215, 215, 0.986);
  margin-top: 85px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.contents {
  margin-bottom: 40px;
}

.contents h2 {
  font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3333;
}

.contents p {
  color: #202124;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 1.5;
  padding: 10px;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
}


/* sadbfijasbdjbn */




.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.login-with-google-btn:active {
  background-color: #eeeeee;
}

.login-with-google-btn:focus {
  outline: none;
  box-shadow: 
    0 -1px 0 rgba(0, 0, 0, 0.04),
    0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}

.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}