

  .display-3 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .btn {
    background-color: #4CAF50;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  .lead {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  
  i.fas.fa-arrow-right {
    font-size: 1.2rem;
  }
