/* Basic Resets */
body, h1, p, a {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: inherit;
}



@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.typewriter h1,
.typewriter p {
  overflow: hidden; 
  border-right: .15em solid black; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(40, end),
    blink .75s step-end infinite;
}

.typewriter p {
  color: black;
  animation-delay: 3.5s; 
  animation-duration: 3s; 
}

.homePage {
  background-color: #fafafa;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #f4f4f4;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.navLinks {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navLinks li a {
  color: #666;
  transition: color 0.3s;
}

.navLinks li a:hover {
  color: #333;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.content h1 {
  font-size: 2em;
  margin-bottom: 20px;
}
