/* Main Container */

main {
  background-color: #393e46;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1%;
}
.main-container {
  padding: 1% 1% 29px;
  background-color: #393e46;
  border-radius: 39px;
  box-shadow: 0px 1px 10px 0px rgb(117 191 225);
}

/* Main Center */
.main-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
}
.main-right-box {
  width: 65%;
  background: #393e46;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.main-center {
  display: contents;
}

/* Main Top and Main Bottom */
.main-bottom {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 32px;
  width: 100%;
  align-items: center;
}
.main-top {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

/* Editor Container */
.editor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* Modals */
.modals {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.modals-content {
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  border: 10px solid #ccc;
  border-radius: 4px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.modals-header {
  margin-bottom: 10px;
}

.modals-header h3 {
  margin: 0;
}

.modals-body {
  padding: 10px 0;
  overflow: auto;
}

.modals-footer {
  text-align: right;
}

.modals-footer button {
  margin-left: 10px;
}

/* Scores */
.scores-text {
  font-weight: bold;
  opacity: 0; /* Hide by default */
  transition: opacity 1s ease-in;
}

.scores-text.fade-in {
  opacity: 1; /* Show when needed */
}

.score {
  font-weight: bold;
}

.scores-text.correct {
  animation: celebrate 1.5s ease-in-out infinite, blink-green 2s ease-in-out infinite;
}

.scores-text.wrong {
  animation: blink-red 3s ease-in-out infinite;
}

@keyframes celebrate {
  0% {
    transform: rotateZ(0deg);
  }
  12.5% {
    transform: rotateZ(-1deg);
  }
  37.5% {
    transform: rotateZ(1deg);
  }
  62.5% {
    transform: rotateZ(-1deg);
  }
  87.5% {
    transform: rotateZ(1deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes blink-red {
  0% {
    color: red;
  }
  50% {
    color: white;
  }
  100% {
    color: red;
  }
}

@keyframes blink-green {
  0% {
    color: green;
  }
  50% {
    color: white;
  }
  100% {
    color: green;
  }
}
