
 /* Modals */
 .modals {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  }
  
  .modals-content {
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border: 10px solid #ccc;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
  }
  
  .modals-header {
    margin-bottom: 10px;
  }
  
  .modals-header h3 {
    margin: 0;
  }
  
  .modals-body {
    padding: 10px 0;
    overflow: auto;
  }
  
  .modals-footer {
    text-align: right;
  }
  
  .modals-footer button {
    margin-left: 10px;
  }