

  body {
    background-color: #141414;
    font-family: 'Montserrat', sans-serif;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232931;
  }
  h1{
    color: #4ECCA3;
  }
  p{
    color: #EEEEEE;
  }
  nav{
  color: white;
  margin: 1% 0;
  }
  footer {
    background-color: #254B62;
  }
  p{
      font-family: 'Montserrat', sans-serif;
    font-size: 12px;
  }

  main{
    color: white;
    background-color: #393E46;
    /* background-image: url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  }
  /* ---------------------------------------------------------------  */
  /* Nav - Logos */
  #logo{
    color: white;
    margin: 1% 0;
    /* font-family: 'BhuTuka Expanded One', cursive; */
  }
  .navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .navbar-light .navbar-nav .nav-link{
    color: rgb(255 255 255 / 50%);
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: 2.5rem;}
  .navbar-nav a{
    padding: 0 10%;
  }

  .nav-link{
    color: #EEEEEE;
  }


  /* ---------------------------------------------------------------  */
  /* Bootstrap style overriding */



  /* ---------------------------------------------------------------  */
  /* Main - section */
  .mainPanel{
    /* background-image: url("images/html.jpg"); */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .panel-Description{
    width: 40%;
    padding: 1.1% 0%;
    text-align: center;
    /* background-color:rgb(0,0,0);opacity:0.5s; */
  }
  .button{
    padding: 3% 0;
  }


  /* ---------------------------------------------------------------  */
  /* Footer - section */
  .footer-end{
    display: flex;
    justify-content: center;
    color: white;

  }
  /* ---------------------------------------------------------------  */




  /* ---------------------------------------------------------------  */

  /* css for the coding-exercise-workplace */

  .editor-container {
    width: 55%;
    height: 450px;
    position: relative;
  }

  .ace_content{
    height: 0px;
  }

  #editor {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    font-size: 20px;
  }