

/* Global styles */
body {
  background-color: #141414;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

/* Header styles */
/* Styles for header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #232931;
  padding: 2rem;
}

header h1 {
  color: #ffffff;
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
  font-family: 'Rowdies', cursive;
  letter-spacing: 6px;
}

header p {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
  letter-spacing: 0.5px;
}

/* Styles for navbar */
nav {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

a{
  text-decoration: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 1rem;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: #4ECCA3;
}



/* ----------------------------------------------------------------------------------- */

                                /* HEADER CSS */


                                /* #logo {
                                  flex-grow: 1;
                                } */
                                
                                #logo .logo-title {
                                  font-weight: 600;
                                  text-transform: uppercase;
                                }



/* ----------------------------------------------------------------------------------- */

                                /* NAVBAR CSS */

                                .navbar {
                                  flex-grow: 2;
                                }
                                
                                .navbar-nav {
                                  display: flex;
                                  justify-content: flex-end;
                                }
                                
                                .navbar-nav .nav-item {       
                                  margin-left: 20px;
                                  font-weight: 500;
                                  color: #fff;
                                  text-transform: uppercase;
                                  transition: all 0.3s ease;
                                  cursor: pointer;
                                  font-size: 18px;
                                }

                                .navbar-nav .nav-item:hover {
                                 color: #008080;
                                
                                }
                                .navbar-nav .nav-item.active {
                                  color: #008080;
                                }


                                .nav-link {
                                  color: inherit;
                                  text-decoration: none;
                                }

/* ----------------------------------------------------------------------------------- */

                                /* MAIN Panel CSS */
/* Main styles */
main {
  background-color: #393E46;
  color: #fff;
}

.mainPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel-Description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.1% 0%;
  text-align: center;
  font-size:12px;
  margin-bottom: 2rem;
}

.panel-Description h1{
font-family: 'Montserrat', sans-serif;
font-size: 2rem;
color: #232931;

}

.panel-Description p{
  width: 50%;
  font-family: 'Montserrat', sans-serif;;
  margin: 20px;
  text-align: justify;
}

.panel-Description button{
  background-color: #232931;
  color: #fff;
}



/* ----------------------------------------------------------------------------------- */

                                /* Button CSS */
.ace_editor{
  margin-left: auto;
  margin-right: auto;

}


.editor-Buttons {
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 2rem;
  margin: 0 6rem;
}

.doneButton {
  background-color: #232931;
  color: #fff;
}

.checkButton{
  background-color: #232931;
  color: #fff;
}

.button:hover {
  background-color: #2B7A78;
}


/* ----------------------------------------------------------------------------------- */
                                /* Footer CSS */

/* Footer styles */

footer {
  background-color: #232931;
  padding: 2rem;
  font-family:monospace;
}

.footer-end {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 1.2rem;
}
/* ----------------------------------------------------------------------------------- */

                                /* Editor CSS */



  .ace_content{
    height: 0px;
  }

  #editor {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    font-size: 20px;
  }

/* -------------shayan------------ */

  .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}

.modal-header {
  margin-bottom: 10px;
}

.modal-header h3 {
  margin: 0;
}

.modal-body {
  padding: 10px 0;
  overflow: auto;
}

.modal-footer {
  text-align: right;
}

.modal-footer button {
  margin-left: 10px;
}

.header-Buttons{
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.help {
  border-radius: 50%;
}

.results{
  display: flex;
  justify-content: center;
}

.result-text{
  width: 50%;
  display: flex;
  justify-content: space-between;
}