/* Global styles */
body {
  background-color: #141414;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

/* Header styles */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #232931;
  padding: 2rem;
}

header h1 {
  color: #4ECCA3;
  font-size: 3rem;
  margin-bottom: 1rem;
}

header p {
  color: #EEEEEE;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

nav {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.nav-link {
  color: #EEEEEE;
  font-size: 1.2rem;
  padding: 0 10%;
}

#logo {
  font-size: 2.5rem;
  color: #fff;
  margin: 1rem 0;
}

/* Main styles */
main {
  background-color: #393E46;
  color: #fff;
  padding: 2rem;
  min-height: 100vh;
}

.mainPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}

.panel-Description {
  width: 40%;
  padding: 1.1% 0%;
  text-align: center;
  font-size:12px;
  margin-bottom: 2rem;
}

.button {
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #4ECCA3;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2B7A78;
}

/* Footer styles */
footer {
  background-color: #254B62;
  padding: 2rem;
}

.footer-end {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 1.2rem;
}

  /* ---------------------------------------------------------------  */




  /* ---------------------------------------------------------------  */

  /* css for the coding-exercise-workplace */

  .editor-container {
    width: 55%;
    height: 450px;
    position: relative;
  }

  .ace_content{
    height: 0px;
  }

  #editor {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    font-size: 20px;
  }
