
footer {
    background-color: #232931;
    padding: 1.5rem 2rem;
    font-family: monospace;
  }
  
  .footer-end {
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 1.2rem;
  }