.copyright {
    color: black;
    text-align: center;
    font-size: 14px;
    padding: 20px 0;
    background-color: #f8f8f8; 
    border-top: 1px solid #e7e7e7; 
}

footer {
    width: 100%;
    margin-top: auto;
    font-family: Arial, sans-serif;  
}
