
body {
    background-color: aliceblue;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    height: 100%;
  margin: 0;
  }
  
  
/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }
  
  .main-right-box {
    width: 100%;
  }
  .footer-16371{
    display: none;
  }

  .main-top{
    padding: 34px
  }
  .editor {
    width: 100%;
    padding-top: 48px;
}

  /* Add any other styles that need to be adjusted for smaller screens */
}




@media (max-width: 425px) {
  .main-container {
    flex-direction: column;
  }

  .main-right-box {
    width: 100%;
  }
  .footer-16371{
    display: none;
  }
  .mainHeader{
    padding: 0px;
  }
  .logo-title{
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  .userName {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 143px;
    top: 37px;
}
.main-top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 7px;
  margin: 2px;
}
.btn{
  padding: 10px;
  margin: 12px;
}


  /* Add any other styles that need to be adjusted for screens with a maximum width of 425px */
}

@media (max-width: 375px) {
  .main-container {
    flex-direction: column;
  }

  .main-right-box {
    width: 100%;
  }
  .footer-16371{
    display: none;
  }
  .mainHeader{
    padding: 0px;
  }
  .logo-title{
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  .userName {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 118px;
    top: 37px;
}


  /* Add any other styles that need to be adjusted for screens with a maximum width of 375px */
}

@media (max-width: 320px) {
  .main-container {
    flex-direction: column;
  }

  .main-right-box {
    width: 100%;
  }
  .logo-title{
    font-size: 2rem;
    
  }
  .footer-16371{
    display: none;
  }
  .mainHeader{
    padding: 0px;
  }
  .logo-title{
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  .userName {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 93px;
    top: 37px;
}


  /* Add any other styles that need to be adjusted for screens with a maximum width of 320px */
}